.container{
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  
  }
.hero{
    display:flex ;
    align-items: center;
    justify-content:center ;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.text-hero{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    
}
.b-hero{
    display:flex ;
    gap: 20px;
}
.orcamento{
    & button{
        background-color: #fff;
        padding: 10px;
        font-size: 12px;
        border: 1px solid rgb(185, 185, 185);

        & a{
            text-decoration: none;
            color: black;   
        }
    }
}
.saiba-mais{
    & button{
        background-color: #000000;
        padding: 10px;
        font-size: 12px;
        border: 1px solid rgb(185, 185, 185);
        & a{
            text-decoration: none;
            color: #fff;   
        }
    }
}
.img-hero{
    & img{
        width: 100%;
        max-height: 400px;
        border-radius: 5px
    }
}